body{
    font-family: sans-serif;
    margin: 0;
}

/*  */
a{
    text-decoration: none;
    color: #252422;
}

header{
    display: flex;
    min-height: 70px;
    display: flex;    
    background-color: #eb5e28;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    /* margin: 10px; */
}

.logo{

    display: flex;
    align-items: center;
    margin-right: 12px;
}

.logo img{
    display: flex;
    height: 4rem;
}

nav a{
    font-weight: 600;
    padding-right: 12px;
    
}
nav a:hover{
    color: #979dac;
     border-bottom: 2px solid #979dac; 
}

 @media (max-width: 680px){ 
/* @media (min-width: 680px) and (max-width: 1200px){ */

    header{
        flex-direction: column;
/* 
        display: flex;
        min-height: 70px;
        display: flex;    
        background-color: #eb5e28;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 10px; */
    }
    nav{
        padding: 10px 0px;
    }
}





